<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>682557499423-gu3v685h7dfsvqsfi6arnk3s8j7thv2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682557499423-gu3v685h7dfsvqsfi6arnk3s8j7thv2o</string>
	<key>API_KEY</key>
	<string>AIzaSyBgDy_I0qZXJsM_-CB6Ri4CGV-X-UwAeqU</string>
	<key>GCM_SENDER_ID</key>
	<string>682557499423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.johnphilliplee.WaitAdvisor</string>
	<key>PROJECT_ID</key>
	<string>waitadvisor-app</string>
	<key>STORAGE_BUCKET</key>
	<string>waitadvisor-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682557499423:ios:39c5f437c008780e</string>
	<key>DATABASE_URL</key>
	<string>https://waitadvisor-app.firebaseio.com</string>
</dict>
</plist>